@charset "utf-8";

body,
div,
ul,
li,
img,
p,
input {
	margin: 0;
	padding: 0;
	border: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}
html {
    /* iPhone5 的320px尺寸作为10px基准，414px正好12px大小 */
    font-size: calc(10px + 2 * (100vw - 320px) / 94);
}
@media screen and (min-width: 414px) {
    html {
        /* 414px-1014px每100像素宽字体增加1px 1014px正好18px大小*/
        font-size: calc(12px + (100vw - 414px) / 100);
    }
}
@media screen and (min-width: 1014px) {
    html {
        /* 1014px往后是每100像素0.5px增加 */
        font-size: calc(18px + (100vw - 1014px) / 200);
    }
}