* {
	margin: 0 auto;
}

ul,li{
	list-style: none;
}

.top{
	z-index:22;
	position: fixed;
	display: flex;justify-content: center;
	width: 100%;
}
.top span{flex: 1;}

.box{
	z-index:2;
}



#gold-wrap{
	padding-top: 55px;
	height: 80px;
	width: 100%;
background: #f1f5f6;
}

.gold-list{
	/*margin-top: 20px;*/
}
.gold-top,.gold-main ,.list-head{
	
	width: auto;
	height: 80px;
	background: #f1f5f6;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	box-sizing: border-box;
}
.gold-top li,.list-head li,.gold-main span{
	flex: 1;
}
.gold-top li:nth-child(1){
	border-right: 2px solid #CCCCCC;
}


.list-head{
	border-top:2px solid #CCCCCC;
	
}
.list-head li{
	border-right:2px solid #CCCCCC;
	height:80px;
	line-height: 80px;
}
.list-head li:nth-child(4){
	border:none
}


.gold-main span{
	border-top:1px solid #CCCCCC;
	line-height: 80px;
	
}
/*底部*/
.footer{height:49px;position: fixed;bottom:0;left: 0;right: 0;background: #8E488E;z-index:22;}
.footer_list{display: flex;justify-content: center;text-align: center;height:49px;}
.footer_list li{flex: 1;list-style: none;font-size: 14px;}
.footer_list a{color: #CCCCCC;text-decoration: none;}


/*********************底部***************************/
/*footer ul{ z-index:22;line-height:40px;height:40px;border-top:1px solid purple;position: fixed;bottom: 0;left: 0;right: 0;display: flex;}
footer ul li{flex: 1;text-align: center;font-size: 14px;color: white;}
footer ul li:nth-child(1){background: #ddd;}
footer ul li:nth-child(2){background: palevioletred;}
footer ul li:nth-child(3){background: purple;}
footer ul li:first-child{ color: purple; }
footer ul li a{text-decoration: none;font-size: 14px;color: white;}*/


