			body {
				background: #F2F2F2;
<<<<<<< HEAD
				font-weight: bold;
				width: 100%;
				margin: 0;
				padding: 0;
=======
				
>>>>>>> 75754280ccccc7342e5208c9c12e055cdc4c11ee
			}
			/*头部*/
			
			.top {
<<<<<<< HEAD
				text-align: center;
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				background: #8E488E;
				height: 56px;
				display: flex;
=======
				background: #8E488E;
				height: 56px;
				width: 100%;
>>>>>>> 75754280ccccc7342e5208c9c12e055cdc4c11ee
			}
			
			.top span {
				line-height: 56px;
<<<<<<< HEAD
				/*height: 30px;*/
				flex: 1;
				justify-content: center;
=======
				height: 30px;
				width: 30px;
			}
			
			.icon-fanhui {
				float: left;
			}
			
			.icon-caidan {
				float: right;
>>>>>>> 75754280ccccc7342e5208c9c12e055cdc4c11ee
			}
			
			.iconfont {
				color: #FFFFFF;
			}
<<<<<<< HEAD
			/*商品列表外框*/
			
			#box {
				width: 100%;
				margin-top: 56px;
				background: #F1F5F6;
				/*margin-left: 20px;*/
				flex-direction: row;
				display: flex;
				justify-content: space-between;
				text-align: center;
				box-sizing: border-box;
=======
			
			.top {
				text-align: center;
			}
			/*商品列表外框*/
			
			#box {
				display: flex;
				width: auto;
				background: #F1F5F6;
				-webkit-flex-wrap: wrap-reverse;
				margin-left: 20px;
				margin: 0 auto;
>>>>>>> 75754280ccccc7342e5208c9c12e055cdc4c11ee
			}
			
			ul,
			li {
				list-style: none;
				padding: 0;
<<<<<<< HEAD
=======
				margin: 0 auto;
>>>>>>> 75754280ccccc7342e5208c9c12e055cdc4c11ee
			}
			/*列表左侧导航*/
			
			.oleft {
<<<<<<< HEAD
			
				width: 25%;
			}
			
			.oleft ul li {
				height: 60px;
				line-height: 60px;
				width: 100px;
				text-align: center;
				background: #FFFFFF;
				cursor: pointer;
				margin:10px 0;
=======
				width: 200px;
			}
			
			.oleft ul li {
				height: 80px;
				line-height: 80px;
				/*width:330px*/
				;
				text-align: center;
				margin: 5px 0;
				background: #FFFFFF;
				cursor: pointer;
>>>>>>> 75754280ccccc7342e5208c9c12e055cdc4c11ee
			}
			
			.oleft li:nth-child(1) {
				background: #F1F5F6;
				color: #FE3E3E;
			}
			/*列表右侧导航*/
			
			.oright div:nth-child(1),
			.oright div:nth-child(2),
			.atcive div:nth-child(1),
<<<<<<< HEAD
			.atcive div:nth-child(2) {}
			
			.oright,
			.atcive {
			
				width: 75%;
				margin-left: 10px;
			}
			
			
			
			
			
			.oright img,
			.atcive img {
				height: 65px;
				width: 65px;
				/*width: 210px;*/
				display: block;
			}
			
	
			
			.oright ul,
			.atcive ul {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				flex-wrap: wrap;
				text-align: center;
				box-sizing: border-box;
=======
			.atcive div:nth-child(2) {
				min-height: 370px;
				width: 700px;
				margin-left: 40px;
			}
			
			.oright {
				width: 700px;
				display: none;
			}
			
			.oright h3,
			.atcive h3 {
				padding: 20px 0 0 0;
			}
			
			.oright img,
			.atcive img {
				height: 165px;
				width: 210px;
				display: block;
			}
			
			.oright ul,
			.atcive ul {
				display: flex;
				background: #FFFFFF;
				flex-wrap: wrap;
				margin-top: 20px;
				box-sizing: border-box
>>>>>>> 75754280ccccc7342e5208c9c12e055cdc4c11ee
			}
			
			.oright li,
			.atcive li {
<<<<<<< HEAD
				flex: 1;
				margin: 0 auto;
				padding: 0;
=======
				padding: 0px;
				height: 200px;
				width: 180px;
				line-height: 200px;
				text-align: center;
				justify-content: center;
				align-items: center;
				flex: 1;
				margin-left: 10px;
>>>>>>> 75754280ccccc7342e5208c9c12e055cdc4c11ee
			}
			
			.oright li span,
			.atcive li span {
<<<<<<< HEAD
				display: flex;
=======
				position: relative;
				bottom: 85px;
>>>>>>> 75754280ccccc7342e5208c9c12e055cdc4c11ee
			}
			
			.oright h3,
			.atcive h3 {
				background: #F1F5F6;
<<<<<<< HEAD
				display: flex;
=======
>>>>>>> 75754280ccccc7342e5208c9c12e055cdc4c11ee
			}
			/*atcive高亮*/
			
			.atcive {
				display: block;
			}
			/**/
			
			.hover {
				color: #FE3E3E;
				background: #F1F5F6;
			}
			
			.normal {
				color: black;
				background: #ddd;
			}
			
			.hide {
				display: none;
			}
			/*底部*/
			
			.footer {
				height: 56px;
				position: fixed;
				bottom: 0;
				left: 0;
				right: 0;
				background: #8E488E;
			}
			
			.footer_list {
				display: flex;
				justify-content: center;
				text-align: center;
<<<<<<< HEAD
=======
				padding-top: 5px;
>>>>>>> 75754280ccccc7342e5208c9c12e055cdc4c11ee
			}
			
			.footer_list li {
				flex: 1;
				list-style: none;
			}
			
			.footer_list a {
				color: #CCCCCC;
				text-decoration: none;
			}