*{padding: 0;margin: 0;}
.header{height: 55px;background: #8E488E;display: flex;justify-content: center;line-height: 55px;color: #FFFDEF;}
.header span{flex: 1;text-align: center;font-size: 20px;}
.header span:nth-child(2){flex: 7;}
.header span a{color:#FFFDEF ;text-decoration: none;}

/*个人*/
.person{height: 80px;background: #39100C;color: #FFFDEF;}
.left,.center{float: left;}
.right{float: right;line-height: 100px;margin-right: 10px;}
.left img{width: 60px;height:60px;border-radius: 50%;margin:10px 10px;}
.center{margin-top: 10px;}
.center img{width: 24px;height: 24px;opacity: 0.5;vertical-align: middle;}
.center p{line-height: 24px;}
/*金额*/
.dataList{height: 70;display: flex;width: 100%;justify-content: center;}
.dataList div{flex: 1;border-right:solid 1px #666666 ;text-align: center;}
.dataList a{text-decoration: none;}

.huiyuan{margin: 20px 0 40px 0;}
.huiyuan div{height: 50px;border: 1px solid #F1F5F6;line-height: 50px;}
.huiyuan span{display: inline-block;width: 30px;height: 30px;border-radius:50% ;background: #FC215E;text-align: center;line-height: 30px;margin-right: 15px;}
.huiyuan span a{color: #FFFDEF;}
.huiyuan a {text-decoration: none;}
.huiyuan div .blue{background: #4FC6EE;}
.huiyuan div .oragen{background: #FFA64C;}
.my{margin: 0 0 150px 0;}
.my div{height: 50px;border: 1px solid #F1F5F6;line-height: 50px;}
.my span i{display: inline-block;width: 30px;height: 30px;border-radius:50% ;background: #FC217E;text-align: center;line-height: 30px;margin-right: 15px;}
.my span i{color: #FFFDEF;}
.my div .blue{background: #4FC6EE;}
.my div .oragen{background: #FFA64C;}
.my a{text-decoration: none;}
/*底部*/

.footer{height:49px;position: fixed;bottom:0;left: 0;right: 0;background: #E2E9E2;}
.footer_list{display: flex;justify-content: center;text-align: center;padding-top: 5px;}
.footer_list li{flex: 1;list-style: none;}
.footer_list a{color: #8E488E;text-decoration: none;}
.footer_list .init{color:#FC217E ;}
