ul,li{list-style: none;}
a{text-decoration: none;color: white;}
*{padding: 0;margin: 0;}
/*************8头部************/
.top{ z-index:22;position: fixed;top: 0;right: 0;left: 0;display: flex;}
.top li{flex: 1;text-align: center;}
.top{line-height:40px;height: 40px;background: purple;color: white;text-align: center;}

 nav{
	z-index: 99;
	position: fixed;
	right: 10px;
	top: 30px;
}
 nav ul{
			width: 130px;
			height: 230px;
			background: #5A6066;
			color:white;
			border-radius: 5px;
			display: none;
			
			
		}
		nav ul.active{ display: block; }
		nav ul li{
			height: 38px;
			border-bottom: 1px solid #6B7175;
			text-align: center;
			line-height:38px;

		}
		nav ul li:last-child{
			border: none;
		}
		.top li:nth-child(2).active{
			background:white;
			color: black;

		}
		.top li:nth-child(3).active{
			background:white;
			color: black;

		}
			

		 .swiper-container {
		 	margin-top: 60px;
		
        width: 100%;
        height: 350px;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

/****************8** 选择时的状态以及显示样式************************/
.price,.product-introduce,.size {margin:10px;}
.price span{ color: red;font-size: 30px;font-weight: bold;margin-left: 10px; }
.color{margin: 10px;}
.options{border:1px solid #cecece; border-radius: 5px; display: inline-block; padding:0 20px; position: relative; margin-right: 15px; cursor: pointer; margin-bottom: 5px;}

/*****点击时显示******/
.options.cur{border-color: #ed1516;background: pink;}



/***************商品详情部分，图片*************/
.detail img{
	width: 100%;
	height: 100%；
}

/*********************底部***************************/
footer ul{ z-index:22;line-height:40px;height:40px;border-top:1px solid purple;position: fixed;bottom: 0;left: 0;right: 0;display: flex;}
footer ul li{flex: 1;text-align: center;font-size: 14px;color: white;}
footer ul li:nth-child(1){background: #ddd;}
footer ul li:nth-child(2){background: palevioletred;}
footer ul li:nth-child(3){background: purple;}
footer ul li:first-child{ color: purple; }
footer ul li a{text-decoration: none;font-size: 14px;color: white;}

/*****************************************评论页***************************/
.comment{ 	margin-top: 60px; line-height: 30px; }
.comment .head{height: 60px;border-bottom: 1px solid #EEEEEE;display: flex;line-height: 60px;font-size: 30px;margin-bottom: 4px;}
.comment .head img{flex: 0.1;}
.comment .head .name{flex: 1;}
.comment .head .headtime{flex: 7;}
.head-time{font-size: 22px;color:#BEBEBE;}

.comment .content{margin-bottom: 20px;}
.comment .content img{width: 100px;}
.comment .ctime{color: #BEBEBE;}







