@charset "utf-8";
body {
	width: 100%;
	background: #f1f5f6;
}

header {
	width: auto;
	height: 48px;
	color: white;
	background: #8e488e;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 0 0.33rem;
}

header span {
	flex: 1;
	display: flex;
	justify-content: center;
}

header span:nth-child(2) {
	flex: 13;
}

header span:nth-child(3) {
	flex: 1;
}
.content .dataList{margin-bottom: 54px;}
.content .dataList li {
	width: auto;
	height: 8.58rem;
	background: white;
	border-bottom: 1px solid #cccccc;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	
}
.content .dataList li div:nth-child(1){
	position: relative;
}
.content .dataList li div:nth-child(1) input{
	width: 18px;
	height: 18px;
	opacity: 0;
	z-index: 2;
}
.content .dataList li div:nth-child(1) img{
	position: absolute;
	width: 18px;
	height: 18px;
	left: 50%;
	top: 50%;
	margin: -9px 0 0 -9px;
}
.content .dataList li:nth-last-of-type(1) {
	height: 8.5rem;
	border-bottom: 0;
}

.content .dataList li .choice {
	flex: 1.5;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content .dataList li .goods {
	flex: 3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content .dataList li .goods img {
	height: 8rem;
}

.content .dataList li .info {
	flex: 10;
	height: 7.17rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
}

.content .dataList li .info .priceAndNum {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content .dataList li .info .price {
	color: #dd3d97;
}

.content .dataList li .priceAndNum .num {
	display: flex;
	justify-content: flex-end;
}

.content .dataList li .priceAndNum .num span {
	display: block;
	width: 1.67rem;
	height: 1.67rem;
	border: 1px solid #ccc;
	border-radius: 0.42rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content .dataList li .priceAndNum .num .redu,
.content .dataList li .priceAndNum .num .add {
	cursor: pointer;
}

.content .dataList li .del {
	flex: 1.5;
	height: 7.17rem;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.disable {
	border: 1px solid #ccc;
	color: #ccc;
}


footer {
	height: 54px;
	border-top: 1px solid #8e488e;
	color: white;
	margin-top: 0.83rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

footer .allPick {
	flex: 4;
	height: 54px;
	color: black;
	background: #f1f5f6;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

footer .allPick div:first-child {
	flex: 1;
	display: flex;
	justify-content: center;
	position: relative;
}
footer .allPick div:first-child img{
	position: absolute;
	width: 18px;
	height: 18px;
	left: 50%;
	top: 50%;
	margin: -9px 0 0 -9px;
}
footer .allPick div:first-child input{
	width: 18px;
	height: 18px;
	flex: 1;
	display: flex;
	justify-content: center;
	opacity: 0;
	z-index: 2;
}

footer .allPick label:last-child {
	flex: 2;
}

footer .payMethod {
	flex: 5;
	height: 54px;
	background: #dd3d97;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer .pay {
	
	flex: 6;
	height: 53px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #8e488e;
}