#personCenter{
* {
  padding: 0;
  margin: 0;
}
.header {
  height: 55px;
  background: #8e488e;
  display: flex;
  justify-content: center;
  line-height: 55px;
  color: #fffdef;
  span {
    flex: 1;
    text-align: center;
    font-size: 20px;
    &:nth-child(2) {
      flex: 7;
    }
    a {
      color: #fffdef;
      text-decoration: none;
    }
  }
}
/*个人*/
.person {
  height: 80px;
  background: #39100c;
  color: #fffdef;
}
.left,.center {
  float: left;
}
.right {
  float: right;
  line-height: 100px;
  margin-right: 10px;
}
.left {
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px 10px;
  }
}
.center {
  margin-top: 10px;
  img {
    width: 24px;
    height: 24px;
    opacity: 0.5;
    vertical-align: middle;
  }
  p {
    line-height: 24px;
  }
}
/*金额*/
.dataList {
  height: 70;
  display: flex;
  width: 100%;
  justify-content: center;
  div {
    flex: 1;
    border-right: solid 1px #666666;
    text-align: center;
  }
  a {
    text-decoration: none;
  }
}
.huiyuan {
  margin: 20px 0 40px 0;
  div {
    height: 50px;
    border: 1px solid #f1f5f6;
    line-height: 50px;
    .blue {
      background: #4fc6ee;
    }
    .oragen {
      background: #ffa64c;
    }
  }
  span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fc215e;
    text-align: center;
    line-height: 30px;
    margin-right: 15px;
    a {
      color: #fffdef;
    }
  }
  a {
    text-decoration: none;
  }
}
.my {
  margin: 0 0 150px 0;
  div {
    height: 50px;
    border: 1px solid #f1f5f6;
    line-height: 50px;
    .blue {
      background: #4fc6ee;
    }
    .oragen {
      background: #ffa64c;
    }
  }
  span {
    i {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #fc217e;
      text-align: center;
      line-height: 30px;
      margin-right: 15px;
      color: #fffdef;
    }
  }
  a {
    text-decoration: none;
  }
}
/*底部*/
.footer {
  height: 49px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e2e9e2;
}
.footer_list {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 5px;
  li {
    flex: 1;
    list-style: none;
  }
  a {
    color: #8e488e;
    text-decoration: none;
  }
  .init {
    color: #fc217e;
  }
}
}