#productDetail{
    

ul,li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
* {
  padding: 0;
  margin: 0;
}
/*************8头部************/
.top {
  z-index: 22;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  line-height: 40px;
  height: 40px;
  background: purple;
  color: white;
  text-align: center;
  li {
    flex: 1;
    text-align: center;
    &:nth-child(2).active {
      background: white;
      color: black;
    }
    &:nth-child(3).active {
      background: white;
      color: black;
    }
  }
}
nav {
  z-index: 99;
  position: fixed;
  right: 10px;
  top: 30px;
  ul {
    width: 130px;
    height: 230px;
    background: #5a6066;
    color: white;
    border-radius: 5px;
    display: none;
    &.active {
      display: block;
    }
    li {
      height: 38px;
      border-bottom: 1px solid #6b7175;
      text-align: center;
      line-height: 38px;
      &:last-child {
        border: none;
      }
    }
  }
}
.swiper-container {
  margin-top: 60px;
  width: 100%;
  height: 350px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/****************8** 选择时的状态以及显示样式************************/
.price,.product-introduce,.size {
  margin: 10px;
}
.price {
  span {
    color: red;
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
  }
}
.color {
  margin: 10px;
}
.options {
  border: 1px solid #cecece;
  border-radius: 5px;
  display: inline-block;
  padding: 0 20px;
  position: relative;
  margin-right: 15px;
  cursor: pointer;
  margin-bottom: 5px;
  &.cur {
    border-color: #ed1516;
    background: pink;
  }
}
/*****点击时显示******/
/***************商品详情部分，图片*************/
.detail {
  img {
    width: 100%;
    height: 100%；;
  }
}
/*********************底部***************************/
footer {
  ul {
    z-index: 22;
    line-height: 40px;
    height: 40px;
    border-top: 1px solid purple;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    li {
      flex: 1;
      text-align: center;
      font-size: 14px;
      color: white;
      &:nth-child(1) {
        background: #ddd;
      }
      &:nth-child(2) {
        background: palevioletred;
      }
      &:nth-child(3) {
        background: purple;
      }
      &:first-child {
        color: purple;
      }
      a {
        text-decoration: none;
        font-size: 14px;
        color: red
      }
    }
  }
}
/*****************************************评论页***************************/
.comment {
  margin-top: 60px;
  line-height: 30px;
  .head {
    height: 60px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    line-height: 60px;
    font-size: 30px;
    margin-bottom: 4px;
    img {
      flex: 0.1;
    }
    .name {
      flex: 1;
    }
    .headtime {
      flex: 7;
    }
  }
  .content {
    margin-bottom: 20px;
    img {
      width: 100px;
    }
  }
  .ctime {
    color: #bebebe;
  }
}
.head-time {
  font-size: 22px;
  color: #bebebe;
}
}